@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid">
        <div class="main-haeder">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Поймайте мечту за хвост</h1>
                    <p>Научитесь разрабатывать back-end веб-приложения с профессиональным преподавателем и создадите себе портфолио для старта работы в мире IT</p>
                </div>
                <div class="col-lg-4  offset-lg-1">
                    <div class="header">
                        <div class="text-right">
                            <img src="https://alif.academy/_nuxt/img/banner2.cd475ee.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  